<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Balloon</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div class="games">
            <h1>Balloon</h1>
            <p>Click the balloon to pop it!</p>
            <div class="center-div"> 
                <img src="/static/images/balloon1.png" id="Image-balloon" style="width: 200px; height: 200px;" onclick="popBalloon()">
            </div>
            <form>  
                <button onclick="resetBalloon()">Reset Balloon</button>
            </form>
            
            <form action="/games" method="post">
                <button type="submit">Back</button>
            </form>
        </div>
        
    </body>
</html>
