<!DOCTYPE html>
<html>
    <head>
        <title>Greeting</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Flask App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div id="greet-container">
            <h1>Welcome {{CurrentUser}}</h1>
            <div id="mainMenu-buttons">
                <form action="/games" method="get">
                    <button type="submit">play fidgets</button>
                </form>
                <form action="/mood" method="get">
                    <button type="submit">Log your mood</button>
                </form>
                <form action="/avatar" method="get">
                    <button type="submit">Avatar</button>
                </form>
            </div>
        </div>
           
        
    </body>