<!DOCTYPE html>
<html>
    <head>
        <title>Greeting</title>
    </head>
    <body>
        <h1>Richard Gillingham</h1>
        <p>This is a simple Flask application.</p>
        <div id="mainmenu-buttons">
            <form action="/games" method="get">
                <button type="submit">play fidgets</button>
            </form>
            <form action="/mood" method="get">
                <button type="submit">Log your mood</button>
            </form>
            <form action="/avatar" method="get">
                <button type="submit">Avatar</button>
            </form>
        </div>
           
        
    </body>