<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div class="center-div">
            <img src="/static/images/slime.png" id="Image-squish" style="width: 200px; height: 200px;" onclick="squishImage()">
        </div>
        <form action="/games" method="post">
            <button type="submit">Back to Menu</button>
        </form>
    </body>
</html>
